
@tailwind base;
@tailwind components;
@tailwind utilities;

header ul li{
  @apply px-2;
}

.bg-primary{
  background: slategray;
  color: white;
}
.bg-secondary{
  background: #CD5C5C;
}

.mobile-nav{
  @apply fixed top-10 left-0 bg-gray-700 w-full h-1/4;
}

.mobile-nav li{
  @apply w-full h-full text-center
}


/* .head-content{
  @apply text-white text-4xl;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
} */

/* .intro{
  background:#CD5C5C;
  width: 100%;
  height:480px
} */

/* .icons{
  padding-right: 200px;
} */

/* .Intro_imgDiv{ */
  /* border: 2px solid white; */
  /* justify-content: flex-end;
  align-items: flex-end; */

/* } */

.introImg{
  mix-blend-mode:normal;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  box-shadow: 5px 5px 10px black;
}
/* .about{
  width: 100%;
  height:480px
} */
.skill{
  background-color: #CD5C5C;

}


/* @media screen and (max-width:1000px){
  .intro{
    display: flex;
  }
}

@media screen and (max-width:600px){
  .intro .head-content{
    display: block;
  }
}

@media screen and (max-width:400px) {
  .intro .head-content{
    display: block;
  }
} */




