
@tailwind base;
@tailwind components;
@tailwind utilities;

header ul li{
  @apply px-2;
}

.bg-primary{
  background: slategray;
  color: white;
}

.mobile-nav{
  @apply fixed top-10 left-0 bg-gray-700 w-full h-1/4;
}

.mobile-nav li{
  @apply w-full h-full text-center
}


.head-content{
  @apply w-1/2 text-white text-4xl;
  align-items: center;
  justify-content: center;
}

.intro{
  background:rgb(48, 66, 84)
}

.image{
  mix-blend-mode: screen;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-left: 50px;
}

.heading{
  font-size: 40px;

}



